<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Novo</h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body">
                        <form  #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">
                            <div class="row">
                              <div class="col-sm-2">
                                <mat-form-field class="full-width">
                                   <input matInput name="codigoT"  type="number"
                                  placeholder="Código" disabled>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-7">
                                    <mat-form-field class="full-width">
                                        <input matInput placeholder="Nome" type="text" required="true" minlength="3"
                                        maxlength="100" formControlName="nome">
                                        <div *ngIf="!nome.pristine && nome.errors">
                                            <p *ngIf="nome.errors.required">
                                              Nome é obrigatório.
                                            </p>
                                            <p *ngIf="nome.errors.minlength">
                                              Nome deve ter no mínimo 3 caracters.
                                            </p>
                                            <p *ngIf="nome.errors.maxlength">
                                              Nome deve ter no máximo 100 caracters.
                                            </p>
                                          </div>
                                      </mat-form-field>
                                </div>
                            </div>
                            
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right">Salvar</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  