<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Novo</h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="form" autocomplete="off" (ngSubmit)="salvar()">
                            <div class="row">
                              <div class="col-sm-2">
                                <mat-form-field class="full-width">
                                   <input matInput type="number" placeholder="Código" disabled>
                                </mat-form-field>
                              </div>
                              <div class="col-md-7">
                                    <mat-form-field class="full-width">
                                        <input matInput placeholder="Nome" type="text"
                                        formControlName="nome">
                                       
                                        <mat-error *ngIf="errorHandling('nome', 'required')">Nome é obrigatório</mat-error>

                                    </mat-form-field>
                              </div>

                              
                            </div>
                            
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                             [disabled]="!form.valid">Salvar</button>
                            <div class="clearfix"></div>
        
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  