::ng-deep .mat-tooltip {
    /* tooltip dados */ 
    /* e.g. */
    background-color: white;
    color:black;
    font-size: 12px;
    width: 300px;
    text-align: left;

}

.linha {
    margin-top: 40px !important;
} 

.card .card-body {
    padding: 0.9375rem 10px !important;
    position: relative !important;
}