<div class="main-content">
        <div class="header col-md-5">
                
                <mat-form-field>
                    <input matInput #filter (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
                    <button mat-icon-button matSuffix aria-label="clear" *ngIf="filter.value" (click)="filter.value=''; applyFilter('');">
                        <mat-icon>close</mat-icon>
                    </button>
                    <mat-icon matSuffix aria-label="clear" *ngIf="!filter.value">search</mat-icon>
                </mat-form-field>       
        </div>
    <div class="container-fluid">
        <div class="row" class="linha">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title ">Boletins e Ocorrências</h4>
                    </div>
                
                    <div class="card-body">
                        <div class="table-responsive">
                          <table mat-table [dataSource]="dataSource" class="table table-hover">
                              <!-- Código -->
                                <ng-container matColumnDef="codigo">
                                    <th mat-header-cell *matHeaderCellDef>Código</th>
                                    <td mat-cell *matCellDef="let element" (mouseover)="buscaDadosBoletim()" matTooltip={{dados}} >
                                         {{element.codigo}} </td>
                                </ng-container>

                                <!-- Boletim -->
                                <ng-container matColumnDef="boletim">
                                        <th mat-header-cell *matHeaderCellDef>Nº Boletim</th>
                                        <td mat-cell *matCellDef="let element"> {{element.boletim}} </td>
                                    </ng-container>
                            
                                <!-- Data BO-->
                                <ng-container matColumnDef="data">
                                        <th mat-header-cell *matHeaderCellDef> Data </th>
                                        <td mat-cell *matCellDef="let element"> {{element.data}} </td>
                                </ng-container>

                                <!-- tipoOcorrencia -->
                                <ng-container matColumnDef="tipoOcorrencia">
                                        <th mat-header-cell *matHeaderCellDef> Tipo </th>
                                        <td mat-cell *matCellDef="let element"> {{element.tipoOcorrencia}} </td>
                                    </ng-container>
                            
                                <!-- Monta -->
                                <ng-container matColumnDef="monta">
                                    <th mat-header-cell *matHeaderCellDef> Monta </th>
                                    <td mat-cell *matCellDef="let element"> {{element.monta}} </td>
                                </ng-container>

                                <!-- Status -->
                                <ng-container matColumnDef="status">
                                        <th mat-header-cell *matHeaderCellDef> Status </th>
                                        <td mat-cell *matCellDef="let element" class="mat-app-background basic-container"> {{element.status}} </td>
                                 </ng-container>

                                  <!-- Expanded Content Column - The detail row is made up of this one column -->
                                <ng-container matColumnDef="expandedDetail">
                                    <mat-cell *matCellDef="let detail"> 
                                    O status para {{detail.element.boletim}} is {{detail.element.status}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="acoes">
                                    <th mat-header-cell *matHeaderCellDef></th>
                                    <td mat-cell *matCellDef="let element" class="td-actions text-right"> 
                                                <button #editar mat-raised-button type="button" (click)="onEdit(element.codigo)"
                                                class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button mat-raised-button type="button" (click)="onRemove(element)"
                                                class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">close</i>
                                                </button>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                                        
                                        class="element-row" 
                                        [class.expanded]="expandedElement == row"
                                        (click)="expandedElement = row">
                                </tr>
                                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow"
                                        [@detailExpand]="row.element == expandedElement ? 'expanded' : 'collapsed'"
                                        style="overflow: hidden">
                                </tr>
                                </table>
                            
                                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                          </div>      
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
    <!-- [matTooltipPosition]="'above'" -->
                 