::ng-deep .mat-tooltip {
    /* tooltip dados */ 
    /* e.g. */
    background-color: white;
    color:black;
    font-size: 12px;
    width: 300px;
    text-align: left;

}

.linha {
    margin-top: 40px !important;
} 

.card .card-body {
    padding: 0.9375rem 10px !important;
    position: relative !important;
}

  table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  /*tr.example-element-row:not(.example-expanded-row):hover {
     background: #777; 
  }*/
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  mat-grid-tile {
    border: 0.7px solid black;
  }
  
  .example-element-cabecalho-detalhe {
    font-weight: bold;
    font-size: 16px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  


















   /* .example-element-lista-expandida {
    min-width: 80px;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px; 
   
  } */

  /* .example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
  } */
  
