<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-success">
            <h4 class="card-title">Boletim de Acidente de Trânsito e de Ocorrência</h4>
          </div>
          <div class="card-body">
            <form [formGroup]="form" autocomplete="off" (ngSubmit)="salvar()">
              <div class="row">
                <div class="col-sm-2">
                  <mat-form-field class="full-width">
                    <input matInput type="number" placeholder="Código" formControlName='codigo' />
                  </mat-form-field>
                </div>

                <div class="col-sm-2">
                  <mat-form-field class="full-width">
                    <input matInput type="text" placeholder="Pm Seção" formControlName='pmsecao' />
                  </mat-form-field>
                </div>

                <div class="col-sm-4">
                  <mat-form-field class="full-width">
                    <input matInput type="text" placeholder="Nome" formControlName='nomepmsecao' />
                  </mat-form-field>
                </div>

                <div class="col-sm-4">
                  <mat-form-field class="full-width">
                    <input matInput type="date" placeholder="Data de entrada no Sistema" formControlName='dataSys'>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="full-width">
                    <input matInput type="text" placeholder="Nº Boletim" maxlength="9" formControlName='boletim'
                      [ngClass]="{ 'is-invalid': submitted && f.boletim.errors }" />
                    <mat-error *ngIf="submitted && f.boletim.errors && f.boletim.errors.required">
                      Nº do Boletim é obrigatório!</mat-error>
                    <mat-error *ngIf="submitted && f.boletim.errors && f.boletim.errors.minlength">
                      Mínimo de {{ f.boletim.errors?.minlength?.requiredLength }} caracteres!</mat-error>
                    <mat-error *ngIf="submitted && f.boletim.errors && f.boletim.errors.maxlength">
                      Máximo de {{ f.boletim.errors?.maxlength?.requiredLength }} caracteres!</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>Tipo Boletim</mat-label>
                    <mat-select formControlName='tipoBoletim'
                      [ngClass]="{ 'is-invalid': submitted && f.tipoBoletim.errors }">
                      <mat-option *ngFor="let tiposBo of tiposBoletins" value="tiposBo.codigo">
                        {{ tiposBo.descricao}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="submitted && f.tipoBoletim.errors && f.tipoBoletim.errors.required">
                      Selecione o tipo de boletim! </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>Origem Boletim</mat-label>
                    <mat-select formControlName='origemBoletim'
                      [ngClass]="{ 'is-invalid': submitted && f.origemBoletim.errors }">
                      <mat-option *ngFor="let origemBo of origemBoletins" value="origemBo.codigo">
                        {{ origemBo.descricao }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="submitted && f.origemBoletim.errors && f.origemBoletim.errors.required">
                      Selecione a origem do boletim! </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <mat-form-field>
                    <input matInput [matDatepicker]="picker" placeholder="Data" formControlName='data'>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>

                    <mat-error *ngIf="submitted && f.data.errors && f.data.errors.required">
                        Selecione a data do boletim! </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-2">
                  <mat-form-field class="full-width">
                    <input matInput type="text" placeholder="R.G Emissor BO" type="text" maxlength="5"
                     formControlName='emissorBo' [ngClass]="{ 'is-invalid': submitted && f.emissorBo.errors }"/>
                    
                     <mat-error *ngIf="submitted && f.emissorBo.errors && f.emissorBo.errors.required">
                        Emissor do boletim é obrigatório!</mat-error>
                     <mat-error *ngIf="submitted && f.emissorBo.errors && f.emissorBo.errors.minlength">
                            Mínimo de {{ f.emissorBo.errors?.minlength?.requiredLength }} caracteres!</mat-error>
                     <mat-error *ngIf="submitted && f.emissorBo.errors && f.emissorBo.errors.maxlength">
                            Máximo de {{ f.emissorBo.errors?.maxlength?.requiredLength }} caracteres!</mat-error>   
                  </mat-form-field>
                </div>

                <div class="col-sm-4">
                  <mat-form-field class="full-width">
                    <input matInput type="text" placeholder="Nome" formControlName='nomeEmissor' />
                  </mat-form-field>
                </div>

                <div class="col-sm-4">
                <mat-form-field>
                  <mat-label>Status</mat-label>
                  <mat-select formControlName='status' (selectionChange)="functionExigeProblema(status.codigo)"
                    [ngClass]="{ 'is-invalid': submitted && f.status.errors }">
                    <mat-option *ngFor="let status of status" value="status.codigo">
                      {{ status.descricao}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="submitted && f.status.errors && f.status.errors.required">
                    Selecione o status do boletim! </mat-error>
                </mat-form-field>
                </div>
              </div> 
               
               <div class="row">
                <div class="col-sm-2"> 
                 <mat-form-field>
                  <mat-label>Monta</mat-label>
                  <mat-select formControlName='monta'
                    [ngClass]="{ 'is-invalid': submitted && f.monta.errors }">
                    <mat-option *ngFor="let monta of montas" value="monta.codigo">
                      {{ monta.descricao}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="submitted && f.monta.errors && f.monta.required">
                    Selecione a monta! </mat-error>
                </mat-form-field>
                </div>
                <div class="col-md-5">
                  <mat-form-field class="full-width">
                    <input matInput placeholder="Nome da Vítima" type="text" formControlName="vitima"
                      [ngClass]="{ 'is-invalid': submitted && f.vitima.errors }" maxlength="250"/>
                  
                  <mat-error *ngIf="submitted && f.vitima.errors && f.vitima.errors.minlength">
                      Mínimo de {{ f.vitima.errors?.minlength?.requiredLength }} caracteres!</mat-error>
                  <mat-error *ngIf="submitted && f.vitima.errors && f.vitima.errors.maxlength">
                      Máximo de {{ f.vitima.errors?.maxlength?.requiredLength }} caracteres!</mat-error>
                  </mat-form-field>    
                </div>
                <div class="col-md-5">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Nome da Vítima" type="text" formControlName="autor"
                          [ngClass]="{ 'is-invalid': submitted && f.autor.errors }" maxlength="250"/>
                      
                      <mat-error *ngIf="submitted && f.autor.errors && f.autor.errors.minlength">
                          Mínimo de {{ f.autor.errors?.minlength?.requiredLength }} caracteres!</mat-error>
                      <mat-error *ngIf="submitted && f.autor.errors && f.autor.errors.maxlength">
                          Máximo de {{ f.autor.errors?.maxlength?.requiredLength }} caracteres!</mat-error>
                   </mat-form-field>      
                </div>
              </div>

              <div class="row">
                <div class="col-md-2">
                  <mat-form-field class="full-width">
                      <input matInput placeholder="Placa" type="text" formControlName="placa"
                      [ngClass]="{ 'is-invalid': submitted && f.placa.errors }" maxlength="8"/>

                      <mat-error *ngIf="submitted && f.placa.errors && f.placa.errors.required">
                        Placa é obritagatória!</mat-error>
                      <mat-error *ngIf="submitted && f.placa.errors && f.placa.errors.minlength">
                          Mínimo de {{ f.placa.errors?.minlength?.requiredLength }} caracteres!</mat-error>
                      <mat-error *ngIf="submitted && f.placa.errors && f.placa.errors.maxlength">
                          Máximo de {{ f.placa.errors?.maxlength?.requiredLength }} caracteres!</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-5">
                  <mat-form-field>
                    <mat-label>Municipio</mat-label>
                    <mat-select #municipioT value="municipio">
                      <mat-option value="Anapolis">Anápolis</mat-option>
                      <mat-option value="Goiania">Goiânia</mat-option>
                      <mat-option value="Sao Luiz">São Luíz dos Montes Belos</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-5">
                    <mat-form-field>
                        <mat-label>Barreira</mat-label>
                        <mat-select formControlName='barreira'
                          [ngClass]="{ 'is-invalid': submitted && f.barreira.errors }">
                          <mat-option *ngFor="let barreira of barreiras" value="barreira.codigo">
                            {{ barreira.descricao }}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="submitted && f.barreira.errors && f.barreira.errors.required">
                          Selecione a Barreira! </mat-error>
                      </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="full-width">
                    <textarea matInput placeholder="Problema"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12" hidden>
                  <mat-form-field class="full-width">
                    <textarea matInput placeholder="Solução"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="full-width">
                    <textarea matInput placeholder="Observação"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <button mat-raised-button type="submit" class="btn btn-success pull-right">Salvar</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4 alinhaProv alinha">
        <div class="card card-profile">
          <div class="card-header card-header-success">
            <h4 class="card-title">Providências</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="full-width">
                  <input matInput [matDatepicker]="dataProvidencia" placeholder="Data">
                  <mat-datepicker-toggle matSuffix [for]="dataProvidencia"></mat-datepicker-toggle>
                  <mat-datepicker #dataProvidencia></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <section class="section">
                  <mat-checkbox class="margin" [(ngModel)]="checked">Enviado Detran</mat-checkbox>
                </section>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <mat-form-field class="full-width">
                  <textarea matInput placeholder="Providências"></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>

        </div>

      </div>



    </div>
  </div>
</div>





























<!-- <div _ngcontent-exy-c48="" class="col-12 col-md-4 ng-star-inserted">
      <div _ngcontent-exy-c48 _nghost-exy-c29 class="tc-contact">
       
          <div _ngcontent-exy-c29="" class="img-box ng-star-inserted">
              <img _ngcontent-exy-c29="" alt="" height="400" width="400" src="../assets/img/logoPMGO.png">
           </div>
              <div  class="info-box">
                  <h4 _ngcontent-exy-c29="" class="name">Mayank Jani</h4>
                  <p _ngcontent-exy-c29="" class="role">Director</p>
                
                  <div _ngcontent-exy-c29="" class="social ng-star-inserted">
                      
                  </div>
                  <p _ngcontent-exy-c29="" class="address">795 Folsom Ave, Suite 600 San Francisco, CADGE 94107</p>
                
              </div>
          </div>
      </div> -->