<div class="main-content">
  <div class="container-fluid">
   <form [formGroup]="form" autocomplete="off" (ngSubmit)="salvar()">

    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-success">
            <h4 class="card-title">{{ editando ? 'Ediçao de' : 'Novo Boletim'}} {{boletim.tipoBoletim}}</h4>
          </div>
          <div class="card-body">
            
              <div class="row">
                <div class="col-sm-2">
                  <mat-form-field class="full-width">
                    <input matInput type="number" placeholder="Código" formControlName='codigo' />
                  </mat-form-field>
                </div>

                <div class="col-sm-2">
                  <mat-form-field class="full-width">
                    <input matInput type="text" placeholder="Pm Seção" formControlName='pmsecao' 
                    [ngClass]="{ 'is-invalid': f.pmsecao.errors }"/>

                    <mat-error *ngIf=" f.pmsecao.errors && f.pmsecao.errors.required">
                      O sistema não conseguiu preencher a rg! Por favor faça logoff e reinicie</mat-error>
                  </mat-form-field>
                </div>

                <div class="col-sm-4">
                  <mat-form-field class="full-width">
                    <input matInput type="text" placeholder="Nome" formControlName='nomepmsecao'
                    [ngClass]="{ 'is-invalid': f.nomepmsecao.errors }"/>

                    <mat-error *ngIf=" f.nomepmsecao.errors && f.nomepmsecao.errors.required">
                      O sistema não conseguiu preencher o nome! Por favor faça logoff e reinicie</mat-error>
                  </mat-form-field>
                </div>

                <div class="col-sm-4">
                  <mat-form-field class="full-width">
                    <input matInput type="date" placeholder="Data de entrada no Sistema" formControlName='dataSys'>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="full-width">
                    <input matInput type="text" placeholder="Nº Boletim" formControlName='boletim'
                      [ngClass]="{ 'is-invalid': f.boletim.errors }"  pattern='^[0-9]+(\.[0-9]*){0,1}$' 
                      [errorStateMatcher]="erro" maxlength="9">

                    <mat-error *ngIf="f.boletim.errors && f.boletim?.errors.pattern">
                      Ops! Só número é permitido.</mat-error>  
                    <mat-error *ngIf="f.boletim.errors && f.boletim.errors.required">
                      Nº do Boletim é obrigatório!</mat-error>
                    <mat-error *ngIf="f.boletim.errors && f.boletim.errors.minlength">
                      Mínimo de {{ f.boletim.errors?.minlength?.requiredLength }} caracteres!</mat-error>
                    <mat-error *ngIf="f.boletim.errors && f.boletim.errors.maxlength">
                      Máximo de {{ f.boletim.errors?.maxlength?.requiredLength }} caracteres!</mat-error>


                      <mat-error *ngIf="f.boletim.errors && f.boletim.errors.cpfInvalido">cpf inválido</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>Tipo Boletim</mat-label>
                    <mat-select formControlName='tipoBoletim'  [errorStateMatcher]="erro"
                       [ngClass]="{ 'is-invalid': f.tipoBoletim.errors }">
                      <mat-option *ngFor="let tiposBo of tiposBoletins" [value]="tiposBo">
                        {{ tiposBo.descricao}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="f.tipoBoletim.errors && f.tipoBoletim.errors.required">
                      Selecione o tipo de boletim! </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>Origem Boletim</mat-label>
                    <mat-select formControlName='origemBoletim' [errorStateMatcher]="erro"
                      [ngClass]="{ 'is-invalid': f.origemBoletim.errors }">
                      <mat-option *ngFor="let origemBo of origemBoletins" [value]="origemBo">
                        {{ origemBo.descricao }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf=" f.origemBoletim.errors && f.origemBoletim.errors.required">
                      Selecione a origem do boletim! </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <mat-form-field>
                    <input matInput [matDatepicker]="picker" placeholder="Data" 
                    [errorStateMatcher]="erro" formControlName='data'>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>

                    <mat-error *ngIf=" f.data.errors && f.data.errors.required">
                        Selecione a data do boletim! </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-2">
                  <mat-form-field class="full-width">
                    <input matInput type="text" placeholder="R.G Emissor BO" type="text" maxlength="5"
                     formControlName='emissorBo'  [errorStateMatcher]="erro"
                     [ngClass]="{ 'is-invalid': f.emissorBo.errors }"/>
                    
                     <mat-error *ngIf=" f.emissorBo.errors && f.emissorBo.errors.required">
                        Emissor do boletim é obrigatório!</mat-error>
                     <mat-error *ngIf=" f.emissorBo.errors && f.emissorBo.errors.minlength">
                            Mínimo de {{ f.emissorBo.errors?.minlength?.requiredLength }} caracteres!</mat-error>
                     <mat-error *ngIf=" f.emissorBo.errors && f.emissorBo.errors.maxlength">
                            Máximo de {{ f.emissorBo.errors?.maxlength?.requiredLength }} caracteres!</mat-error>   
                  </mat-form-field>
                </div>

                <div class="col-sm-4">
                  <mat-form-field class="full-width">
                    <input matInput type="text" placeholder="Nome" formControlName='nomeEmissor' />
                  </mat-form-field>
                </div>

                <div class="col-sm-4">
                <mat-form-field>
                  <mat-label>Status</mat-label>
                  <mat-select formControlName='status' [errorStateMatcher]="erro"
                    [ngClass]="{ 'is-invalid': f.status.errors }">
                    <mat-option *ngFor="let status of status" [value]="status">
                      {{ status.descricao}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf=" f.status.errors && f.status.errors.required">
                    Selecione o status do boletim! </mat-error>
                </mat-form-field>
                </div>
              </div> 
               
               <div class="row">
                <div class="col-sm-2"> 
                 <mat-form-field>
                  <mat-label>Monta</mat-label>
                  <mat-select formControlName='monta' [errorStateMatcher]="erro"
                    [ngClass]="{ 'is-invalid': f.monta.errors }">
                    <mat-option *ngFor="let monta of montas" [value]="monta">
                      {{ monta.descricao}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf=" f.monta.errors && f.monta.required">
                    Selecione a monta! </mat-error>
                </mat-form-field>
                </div>
                <div class="col-md-5">
                  <mat-form-field class="full-width">
                    <input matInput placeholder="Nome da Vítima" type="text" formControlName='vitima'
                    [errorStateMatcher]="erro" maxlength="250"
                    [ngClass]="{ 'is-invalid': f.vitima.errors }" />
                  
                    <mat-error *ngIf=" f.vitima.errors && f.vitima.errors.minlength">
                      Mínimo de {{ f.vitima.errors?.minlength?.requiredLength }} caracteres!</mat-error>
                    <mat-error *ngIf=" f.vitima.errors && f.vitima.errors.maxlength">
                      Máximo de {{ f.vitima.errors?.maxlength?.requiredLength }} caracteres!</mat-error>
                  </mat-form-field>    
                </div>
                <div class="col-md-5">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Nome do Autor" type="text" formControlName='autor'
                          [ngClass]="{ 'is-invalid': f.autor.errors }" [errorStateMatcher]="erro" 
                          maxlength="250"/>
                      
                      <mat-error *ngIf=" f.autor.errors && f.autor.errors.minlength">
                          Mínimo de {{ f.autor.errors?.minlength?.requiredLength }} caracteres!</mat-error>
                      <mat-error *ngIf=" f.autor.errors && f.autor.errors.maxlength">
                          Máximo de {{ f.autor.errors?.maxlength?.requiredLength }} caracteres!</mat-error>
                   </mat-form-field>      
                </div>
              </div>

              <div class="row">
                <div class="col-md-2">
                  <mat-form-field class="full-width">
                      <input matInput placeholder="Placa" type="text" formControlName='placa' 
                      pattern='^[A-Z]{3}[0-9]{4}$' maxlength="7"
                      [ngClass]="{ 'is-invalid': f.placa.errors }" [errorStateMatcher]="erro"/>

                      <mat-error *ngIf="f.placa.errors && f.placa.errors.required">
                          Placa é obrigatória!</mat-error>
                      <mat-error *ngIf="f.placa.errors && f.placa?.errors.pattern">
                          Quase lá! Tente algo como AAA0000.</mat-error>  
                      <!-- <mat-error *ngIf="f.placa.errors && f.placa.errors.minlength">
                          Mínimo de {{ f.placa.errors?.minlength?.requiredLength }} caracteres!</mat-error>
                      <mat-error *ngIf="f.placa.errors && f.placa.errors.maxlength">
                          Máximo de {{ f.placa.errors?.maxlength?.requiredLength }} caracteres!</mat-error> -->
                  </mat-form-field>
                </div>
                <div class="col-md-5">
                  <mat-form-field>
                    <mat-label>Municipio</mat-label>
                    <mat-select formControlName='municipio' [errorStateMatcher]="erro" 
                       [ngClass]="{ 'is-invalid': f.barreira.errors }">
                      <mat-option value="Anapolis">Anápolis</mat-option>
                      <mat-option value="Goiania">Goiânia</mat-option>
                      <mat-option value="Sao Luiz">São Luíz dos Montes Belos</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-5">
                    <mat-form-field>
                        <mat-label>Barreira</mat-label>
                        <mat-select formControlName='barreira' [errorStateMatcher]="erro" 
                          [ngClass]="{ 'is-invalid': f.barreira.errors }">
                          <mat-option *ngFor="let barreira of barreiras" [value]="barreira">
                            {{ barreira.descricao }}</mat-option>
                        </mat-select>
                        <mat-error *ngIf=" f.barreira.errors && f.barreira.errors.required">
                          Selecione a Barreira! </mat-error>
                      </mat-form-field>
                </div>
              </div> 
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="full-width">
                    <textarea matInput placeholder="Problema" formControlName='problema'
                    [ngClass]="{ 'is-invalid': f.problema.errors }"
                    [errorStateMatcher]="erro" >
                   
                    <mat-error *ngIf=" f.problema.errors && f.problema.errors.minlength">
                        Mínimo de {{ f.problema.errors?.minlength?.requiredLength }} caracteres!</mat-error>
                    <mat-error *ngIf=" f.problema.errors && f.problema.problema.maxlength">
                        Máximo de {{ f.problema.errors?.maxlength?.requiredLength }} caracteres!</mat-error>            
                  </mat-form-field>
                  
                </div>
              </div>
              <div class="row">
                <div class="col-md-12" >
                  <mat-form-field class="full-width">
                    <textarea matInput placeholder="Solução" formControlName='solucao'></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="full-width">
                    <textarea matInput placeholder="Observação" formControlName='obs'></textarea>
                  </mat-form-field>
                </div>
              </div>
              <button class="btn btn-success pull-right" [disabled]="!form.valid">Salvar</button>
              <button class="btn btn-danger pull-left" (click)="novo()">Cancelar</button>
          </div>
        </div>
      </div>
      <div class="col-md-4 alinhaProv alinha">
        <div class="card card-profile">
          <div class="card-header card-header-success">
            <h4 class="card-title">Providências</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="full-width">
                  <input matInput  [matDatepicker]="dataProvidencia" placeholder="Data" formControlName='dataProvidencia'/>
                  <mat-datepicker-toggle matSuffix [for]="dataProvidencia"></mat-datepicker-toggle>
                  <mat-datepicker #dataProvidencia></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <section class="section">
                  <mat-checkbox formControlName='envioDetran'>Enviado Detran</mat-checkbox>
                </section>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <mat-form-field class="full-width">
                  <textarea matInput placeholder="Providências" formControlName='providencia'></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>



    </div>
  </form>
  </div>
</div>





























<!-- <div _ngcontent-exy-c48="" class="col-12 col-md-4 ng-star-inserted">
      <div _ngcontent-exy-c48 _nghost-exy-c29 class="tc-contact">
       
          <div _ngcontent-exy-c29="" class="img-box ng-star-inserted">
              <img _ngcontent-exy-c29="" alt="" height="400" width="400" src="../assets/img/logoPMGO.png">
           </div>
              <div  class="info-box">
                  <h4 _ngcontent-exy-c29="" class="name">Mayank Jani</h4>
                  <p _ngcontent-exy-c29="" class="role">Director</p>
                
                  <div _ngcontent-exy-c29="" class="social ng-star-inserted">
                      
                  </div>
                  <p _ngcontent-exy-c29="" class="address">795 Folsom Ave, Suite 600 San Francisco, CADGE 94107</p>
                
              </div>
          </div>
      </div> -->